<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- Bootstrap static/css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/style.css">

    <title>Organic Food Supply Chain Traceability using Blockchain Technology</title>
    <script LANGUAGE="Javascript" >
        function validate(){
            var x=document.forms["f1"]["t1"].value;
            if(x == null || x==""){
                window.alert("Purchase must be enter");
                document.f1.t1.focus();
                return false;
            }
            
            return true;
        }
                
            
            </script>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">


    <!-- TOP NAV -->
    

    <!-- BOTTOM NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">OrganicFarm</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="CustomerScreen">Customer Screen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index">Logout</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>

    <!-- SLIDER -->
    <div class="owl-carousel owl-theme hero-slider">
        <div class="slide slide1">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center text-white">
                        <h6 class="text-white text-uppercase">Discover the Flavor of Organic Excellence</h6>
                        <h1 class="display-3 my-4">Cultivating Wellness<br />Farm to Fork</h1>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-10 offset-lg-1 text-white">
                        <h6 class="text-white text-uppercase">Discover the Flavor of Organic Excellence</h6>
                        <h1 class="display-3 my-4">Cultivating Wellness<br />Farm to Fork</h1>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form name="f1" method="post" action='/SubmitCustomer'  OnSubmit="return validate()">
       
        <font size="" color="red"><center>Add Purchase Value</center></font>
        
        <font size="" color="red"><center>{{ data|safe }}</center></font>
        <center>              
             <table align="center" width="90" >
             <tr><td><font size="" color="black">Add&nbsp;Quantity&nbsp;in&nbsp;Kgs</font></td><td><input type="text" name="t1" style="font-family: Comic Sans MS" size="20"/></td></tr>
 
            
     
           
                    
              <tr><td></td><td><input type="submit" value="Submit">
              </td>
              </table>
              <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                 </div>	
                    
                 </div>
     </form>
 </center> 

   

    
    <footer>
        <div class="footer-top text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h4 class="navbar-brand">OrganicFarm</h4>
                        
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <p class="mb-0">Copyright 2023. All rights Reserved</p> 
        </div>
    </footer>












    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/app.js"></script>
</body>

</html>